extends base.pug
block content 
  .container.mt-4(style="display : flex; justify-content:center ; align-items:center; flex-direction:column; height : 50vh")
    h1 Sorry, this page doesn't exist.
    h1 Please check the URL or go back a page.
    h4 404 Error. Page Not Found.