extends base
block content
	.container.mt-4.vw-70(style="display : flex; justify-content:center ; align-items:center;  flex-direction:column; text-align:center")
		h1(style= "text-decoration: underline; color:  #0059b3") About Us
		h2.mt-3 Welcome to LinkZiprr
		p.fs-5.text-info-emphasis.mt-3 
			strong LinkZiprr  
			| is a result of my exploration into web development, employing the power of Node.js, Bootstrap, and Express. With these technologies,I aimed to create a user-friendly and efficient URL shortening service, simplifying the process of sharing links.


